body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header logo and navigation */

.header {
  border: 3px solid blue;
  padding: 10px;
  background-color: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  color: #e5e7eb;
}

.head-link {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.head-link li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Header title and image */

.tit-img {
  border: 3px solid green;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.tit-btn {
  border: 3px solid red;
  max-width: 500px;
  flex-wrap: wrap;
}

.title {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}
.head-p {
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  background-color: #3882f6;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
}

.div-img {
  border: 3px solid yellow;
}

.head-img {
  max-height: 100%;
  min-height: 100%;
  max-width: 600px;
}

/* section */

.sec-head {
  text-align: center;
  margin-top: 40px;
  font-size: 36px;
  font-weight: extra-bold;
  color: #1f2937;
}

.sec-info {
  border: 3px solid blue;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0 70px 0;
}

.item {
  border: 3px solid red;
  width: 175px;
  height: 175px;
}

.sec-img {
  border: 3px solid yellow;
  width: 175px;
  height: 175px;
  border-radius: 10px;
}

.sec-p {
  margin-top: 0px;
  flex-wrap: wrap;
}

/* quote */

.fig-div {
  background-color: rgb(231, 213, 213);
}

.figure {
  
  height: 200px;
  
  padding-top: 80px;
  
}

.fig-cap {
  text-align: end;
  font-weight: bold;
}

